// 颜色取名的网址： http://chir.ag/projects/name-that-color/
// color
$mine-shaft: #333333;
$fuscous-gray: #4C4C4B;
$dove-gray: #666666;
$dusty-gray: #999999;
$silver: #BEBEBE;
$alto: #D8D8D8;
$mecury: #E5E5E5;
$alabaster: #F9F9F9;
$white: #ffffff;


$guardsman: #c30000;
$flamingo: #F15440;
$rose-bud: #F9A196;
$wild-sand: #f5f5f5;
$provincial-pink: #FDEDEB;
$vista: #FBF4F4;
$milk-punch: #FFF8D8;
$sauvignon: #FFF7F5;
$chardon: #FFF3F1;

$havelock-blue: #4A90E2;
$carrot-orange: #F4931F;
$green: #00C316;
// font-size
$xx-small: 10px;
$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 18px;
$x-large: 20px;
$xx-large: 24px;
$xxx-large: 24px;
// 特殊的大小
$size36: 36px;
